<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :where %><br />
    <%= f.text_field :where %>
  </div>
  <div class="field">
    <%= f.label :what %><br />
    <%= f.text_field :what %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
